<footer>
  <div class="inner">
    <p>{{ site.footer-text }}</p>
  </div>
</footer>


<footer class="footer">
  <div class="container-fluid">
    <div class="hr1"></div>
    <div class="nav1">
      <a href="{{ site.baseurl }}/about/">About</a>
      <a href="{{ site.baseurl }}/contact/">Contact</a>
      <a href="{{ site.baseurl }}/archive/">Archive</a>
    </div>
    <span class="copyright">Development in progress! Version 0.2</span>
  </div>
  <div class="theam"><span onclick="dark();" class="dot1"></span><span onclick="light();" class="dot2"></span></div>
</footer>